body {font-family: Arial, Helvetica, sans-serif;}


/** menu bar */
.navbar {
  width: 100%;
  background-color: #777;
  position: fixed;
}

.navbar a {
  float: left;
  padding: 12px;
  color: white;
  text-decoration: none;
  font-size: 17px;
}

.menu_right {
float: right;
}

.navbar a:hover {
  background-color: #000;
}

.active {
  background-color: #04aaa2;
}

/** pages */
.page {
    background-color: #FFF;
    border: 1px solid;
    border-color: var(--black);
    box-shadow: 4px 4px 4px #00000040;
    height: 594px;
    width: 420px;
    margin-top: 50px;
    z-index: 1;
    padding: 10px;
}

.minipage {
    background-color: #FFF;
    border: 1px solid;
    border-color: var(--black);
    box-shadow: 4px 4px 4px #00000040;
    height: 89px;
    width: 63px;
    margin-top: 50px;
    z-index: 1;
}

.editoret {
    width: 100%;
    background: #ddd;
    display: flex;
    justify-content: center;
}

/** columns */
* {
  box-sizing: border-box;
}

/* Create three unequal columns that floats next to each other */
.column {
  float: left;
  padding: 10px;
  /*overflow: hidden;*/
}

.left, .right {
  width: 25%;
  /*height: 100%;*/
  background-color:#ddd;
}

.middle {
  width: 50%;
  background-color:#ddd;
}